.brand {
  width: 240px;
  height: 72px;
  border: 1px solid $item-border;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 16px;
  background-color: $white-color;

  &:hover {
    .brand__button {
      border: 2px solid $button-hover;

      &:after {
        background-color: $button-hover;
      }
    }
  }
}
