.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.875em;
  letter-spacing: 0;
  color: $text-second;
  padding: 32px 0 20px;
  position: relative;

  @include responsiveMax($res-xs) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    text-align: center;
  }

  &__policy {
    color: $text-second;
  }

  &__copyright {
    p {
      margin: 0;
    }
    @include responsiveMax($res-xs) {
      margin: 15px;
    }
  }

  &__no-offer {
    max-width: 330px;
    text-align: right;
    @include responsiveMax($res-xs) {
      text-align: center;
      margin: 15px;
    }
  }

  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: -35px;
    background-color: $tean-light;
  }
}
