.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.875em;
  letter-spacing: 0;
  color: $text-second;
  padding-bottom: 20px;
  p {
    margin: 0;
  }

  &__no-offer {
    max-width: 330px;
    text-align: right;
  }
}
