.menu {
  background-color: $white-color;
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-width: 306px;
  margin-left: auto;
  padding: 29px 29px 30px 21px;
  position: relative;

  @include responsiveMax($res-m) {
    min-height: unset;
    padding: 15px 24px;
    max-width: unset;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  @include responsiveMax($res-xs) {
    padding: 15px 16px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100%;
    background-color: $white-color;
    z-index: -1;
    @include responsiveMax($res-m) {
      width: 100vw;
      background-color: $white-color-transparent;
      left: 0;
    }
  }

  .menu__logo {
    margin-right: auto;
    @include responsiveMax($res-xs) {
      margin-left: 10px;
    }
  }

  &__close {
    display: none;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    margin-bottom: 5px;
    @include responsiveMax($res-m) {
      display: none;
    }
  }

  &__navigation {
    margin-top: 35px;
    margin-left: 3px;
    @include responsiveMax($res-m) {
      display: none;
    }
  }

  &__langs {
    margin-top: 45px;
    @include responsiveMax($res-m) {
      display: none;
    }
  }

  &__contacts {
    margin-top: 242px;
    @include responsiveMax($res-m) {
      display: block;
      margin-top: 0;
      margin-left: auto;
    }
    @include responsiveMax($res-xs) {
      display: none;
    }
  }

  &__delimiter {
    height: 32px;
    width: 2px;
    margin: 0 20px;
    background-color: $item-border;
    display: none;

    @include responsiveMax($res-m) {
      display: block;
      //flex-grow: 1;
    }
  }

  .menu__show {
    display: none;
    @include responsiveMax($res-m) {
      display: flex;
    }
  }

  &__actions {
    display: none;
    @include responsiveMax($res-m) {
      display: flex;
    }
  }

  &__action {
    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__action-icon {
    margin-left: 0;
  }

  &__shadow,
  &__email,
  &__phone {
    @include responsiveMax($res-m) {
      display: none;
    }
  }

  &--active {
    @include responsiveMax($res-m) {
      max-width: 320px;
      margin-left: unset;
      margin-right: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 100vh;

      .menu__logo {
        margin-right: auto;
        margin-left: 17px;
      }

      .menu__close {
        display: flex;
      }

      .menu__contacts {
        margin-top: auto;
        display: block;
        margin-left: 0;
      }
      .menu__show,
      .menu__actions,
      .menu__delimiter {
        display: none;
      }

      .menu__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
        z-index: -1;
      }
      .menu__search,
      .menu__langs,
      .menu__navigation,
      .menu__email,
      .menu__phone {
        display: block;
      }
    }
  }
}
