.menu {
  background-color: $white-color;
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-width: 306px;
  margin-left: auto;
  padding: 29px 29px 30px 21px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
  }

  &__search {
    margin-bottom: 5px;
  }

  &__navigation {
    margin-top: 35px;
    margin-left: 3px;
  }

  &__langs {
    margin-top: 45px;
  }
}
