.page {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  margin-right: auto;
  padding: 46px 31px 0 35px;

  @include responsiveMax($res-xl) {
    max-width: 1052px;
  }

  @include responsiveMax($res-m) {
    margin: auto;
    padding: 32px 24px;
    width: 100vw;
    max-width: unset;
  }

  &__hardware {
    margin-top: 34px;

    &.block--expanded {
      .block__wrapper {
        max-height: 450px;
      }
    }
  }

  &__price {
    margin-top: 36px;
  }

  &__footer {
    margin-top: 54px;
  }
}
