.post {
  min-height: 340px;
  position: relative;

  &--expanded {
    .post__wrapper {
      transition: $close-transition;
      max-height: 600px;
      @include responsiveMax($res-xl) {
        max-height: 630px;
      }
    }
  }

  &__placeholder {
    float: right;
    width: 532px;
    height: 306px;
    margin-left: 33px;
    margin-bottom: 33px;
    transform: translateX(4px);
  }

  &__wrapper {
    transition: $open-transition;
    max-height: 170px;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 16px;
  }

  &__image {
    border-radius: 6px;
    width: 532px;
    height: 306px;
    object-fit: cover;
    position: absolute;
    right: -3px;
    top: 0;
  }

  &__paragraph {
    margin: 20px 0 0;
    font-size: 0.875em;
    line-height: 20px;

    &:first-child {
      margin: 0;
    }
  }
}
