.post {
  min-height: 340px;
  position: relative;

  @include responsiveMax($res-m) {
    min-height: 225px;
  }
  @include responsiveMax($res-xs) {
    display: flex;
    flex-direction: column;
    min-height: 480px;
    transition: min-height 0.4s linear;
  }

  &--expanded {
    @include responsiveMax($res-xs) {
      transition: min-height 0.2s linear;
      min-height: 1065px;
    }
    .post__wrapper {
      transition: $close-transition;
      max-height: 600px;
      @include responsiveMax($res-xl) {
        max-height: 630px;
      }
      @include responsiveMax($res-m) {
        max-height: 670px;
      }
    }
  }

  &__placeholder {
    float: right;
    width: 532px;
    height: 306px;
    margin-left: 33px;
    margin-bottom: 33px;
    transform: translateX(4px);
    @include responsiveMax($res-m) {
      width: 360px;
      height: 208px;
    }
    @include responsiveMax($res-xs) {
      display: none;
    }
  }

  &__wrapper {
    transition: $open-transition;
    max-height: 170px;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 16px;

    @include responsiveMax($res-xs) {
      max-height: 70px;
    }
  }

  &__image {
    border-radius: 6px;
    width: 532px;
    height: 306px;
    object-fit: cover;
    position: absolute;
    right: -3px;
    top: 0;
    @include responsiveMax($res-m) {
      width: 360px;
      height: 208px;
    }
    @include responsiveMax($res-xs) {
      //position: relative;
      width: 100%;
      height: auto;
      bottom: 0;
      top: unset;
    }
  }

  &__paragraph {
    margin: 20px 0 0;
    font-size: 0.875em;
    line-height: 20px;

    &:first-child {
      margin: 0;
    }
  }
}
