.read-more {
  @include font-medium;
  letter-spacing: -0.2px;
  padding-left: 30px;
  position: relative;
  display: block;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 8px;
    height: 10px;
    background-image: url('@/images/icons/read-more.svg');
  }

  &--active {
    &:before {
      transform: translateY(-50%) scaleY(-1);
    }
  }
}
