.mobile-slider,
.slider {
  @include responsiveMax($res-m) {
    overflow-y: unset;
    max-height: unset;
  }

  &__wrapper {
    @include responsiveMax($res-m) {
      flex-wrap: nowrap;
      height: auto;
    }
  }
  &__pagination {
    display: none;
    @include responsiveMax($res-m) {
      display: block;
      position: relative;
      bottom: 0 !important;
      top: unset !important;
    }
  }
}

.mobile-slider {
  &__wrapper {
    @include responsiveMax($res-xs) {
      margin-bottom: 15px;
    }
  }
}
