.tech {
  display: block;
  position: relative;
  width: 240px;
  height: 160px;
  border: 1px solid $item-border;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 16px;
  background-color: $white-color;

  &:hover {
    .tech__title {
      text-decoration: underline;
    }

    .tech__button {
      border: 2px solid $button-hover;

      &:after {
        background-color: $button-hover;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  &__title {
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 1em;
    @include font-medium;
    letter-spacing: -0.2px;
  }
}
