@import 'normalize.css';
@import 'vars';
@import 'fonts';
@import 'mixins';

//blocks
@import 'blocks/button';
@import 'blocks/page';
@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/icon-button';
@import 'blocks/navigation';
@import 'blocks/contacts';
@import 'blocks/langs';
@import 'blocks/action';
@import 'blocks/section-navigation';
@import 'blocks/post';
@import 'blocks/read-more';
@import 'blocks/block';
@import 'blocks/arrow-button';
@import 'blocks/brand';
@import 'blocks/tech';
@import 'blocks/price';
@import 'blocks/footer';
