@mixin font-bold() {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 700;
}

@mixin font-medium() {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
}

@mixin font-normal() {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 400;
}

@mixin responsiveMax($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin responsiveMin($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
