@mixin font-bold() {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 700;
}

@mixin font-medium() {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
}

@mixin font-normal() {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 400;
}
