@import 'imports';

* {
  box-sizing: border-box;
}

body {
  @include font-normal;
  color: $text-main;
  letter-spacing: 0.2px;
  background-color: $bg-color;
  overflow-x: hidden;
  display: flex;
  position: relative;
  @include responsiveMax($res-m) {
    flex-direction: column;
  }
}

main {
  display: flex;
}

.hideOnMedAndLow {
  @include responsiveMax($res-m) {
    display: none;
  }
}

a {
  color: $text-main;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
