@import 'imports';

* {
  box-sizing: border-box;
}

body {
  @include font-normal;
  color: $text-main;
  background-color: $bg-color;
}

main {
  display: flex;
}

a {
  color: $text-main;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
