//Colors
$bg-color: #f8f8f8;
$white-color: #fff;
$text-main: #1b1c21;
$text-second: #7e7e82;
$selected-color: #41f6d7;
$light-selected-color: #b8ffec;
$button-color: #ff3e79;

//font size
$font-large: 16px;

//resolution
$res-l: 1440px;
